.home-page {
    width: 100vw;
}

.home-page-title {
    font-size: 10em;
    font-weight:900;
    text-align: center;
    color: #292929;
    flex: 2;
    text-shadow:
    -0.1vw -0.1vw 0 goldenrod,
    0.1vw -0.1vw 0 goldenrod,
    -0.1vw 0.1vw 0 goldenrod,
    0.1vw 0.1vw 0 goldenrod;  
}

.home-page-content {
    background-color: rgba(255, 255, 255, 0.9);
    color: #404040;
    font-size: 1em;
    text-align: justify;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.home-page-content-centralizer {
    flex: 8;
    box-sizing: border-box;
    line-height: 3.1vh;
    padding: 1vw;
    font-weight: 600;
}

.home-page-image-container {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.home-page-image {
    flex: 1;
    height: 5vw;
}

.buffer {
    flex: 6;
}